<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Test Project</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  <style>
    .inner-card {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      flex-wrap: wrap;

      padding: 0.75rem;
    }

    .inner-card > .card {
      margin: 0.75rem;
    }

    p.title.slot-number {
      display: flex;
      justify-content: flex-end;
      margin-bottom: 15px;
      flex-wrap: wrap;
    }

    .task-info {
      margin-bottom: 15px;
    }

    .trunc-long {
      max-width: 450px;
      overflow-wrap: break-word;
      word-wrap: break-word;
      hyphens: auto;
    }
  </style>
</head>

<body>
  <main>
    <section class="hero is-info">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            Docker Containers
            &nbsp
            <i class="fab fa-docker"></i>
          </h1>
          <h2 class="subtitle">
            Test Project Phase 1
          </h2>
        </div>
      </div>
    </section>
    <section class="section">
      <div class="container">
        <table class="table is-hoverable is-fullwidth">
          <thead>
            <tr>
              <th>ID</th>
              <th>Names</th>
              <th>Image</th>
              <th>State</th>
              <th>Status</th>
              <th>Ports</th>
            </tr>
          </thead>
          <tbody>
            <% runningContainers.forEach(c => { %>
            <tr>
              <td>
                <abbr title=<%= c.Id %>>
                  <%= c.Id.slice(0, 12) %>
                </abbr>
              </td>
              <td class="trunc-long">
                <% c.Names.map(name => { %>
                  <span><%= name %></span>
                  <br>
                <% }) %>
              </td>
              <td class="trunc-long"><%= c.Image %></td>
              <td>
                <span class="tag is-success is-light">
                  <i class="fas fa-check"></i>
                  &nbsp
                  <%= c.State %>
                </span>
              </td>
              <td><%= c.Status %></td>
              <td>
                <% c.Ports.map(port => { %>
                  <span><%= port %></span>
                  <br>
                <% }) %>
              </td>
            </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
    </section>

    <% if (swarmInfo) { %>
    <section class="hero is-light">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            Docker Swarm
            &nbsp
            <i class="fab fa-docker"></i>
          </h1>
          <h2 class="subtitle">
            Services, Tasks & Containers
          </h2>
          <div class="section">
            <% swarmInfo.forEach(s => { %>
            <div class="card">
              <header class="card-header">
                <h2 class="card-header-title">
                  <spam><%= s.name %></span>
                </h2>
                <span>
                  <div class="card-header-icon" aria-label="more options">
                    <% if (s.name === 'log-collector') { %>
                    <a href="/creds" onclick="return confirm('Are you sure you want to delete this service?');">
                      <button class="button is-small is-danger">
                        Remove
                      </button>
                    </a>
                    &nbsp;&nbsp;
                    <% } %>
                    <span class="has-text-grey">Service ID</span>
                    &nbsp;&nbsp;
                    <span class="has-text-dark"><%= s.id %></span>
                  </div>
                </span>
              </header>

              <div class="card-content inner-card has-background-grey-lighter">
                <% s.tasks.forEach(t => { %>
                <div class="card">
                  <div class="card-content">
                    <div class="task-info">
                      <p class="title slot-number has-text-info">
                        <%= t.slot %>
                      </p>
                      <p>
                        <span class="has-text-grey">Task ID</span>
                        &nbsp;
                        <span class="has-text-dark"><%= t.id %></span>
                      </p>
                      <p>
                        <span class="has-text-grey">Node ID</span>
                        &nbsp;
                        <span class="has-text-dark"><%= t.nodeId %></span>
                      </p>
                    </div>
                    <article class="message is-info">
                      <div class="message-header">
                        <p>Container Status</p>
                      </div>
                      <div class="message-body">
                        <p>
                          <span class="has-text-grey">State</span>
                          &nbsp;
                          <span class="tag is-success is-light">
                            <i class="fas fa-check"></i>
                            &nbsp
                            <%= t.container.State %>
                          </span>
                        </p>
                        <p>
                          <span class="has-text-grey">ID</span>
                          &nbsp;
                          <span class="has-text-dark">
                            <%= t.container.ContainerStatus.ContainerID.slice(0, 12) %>
                          </span>
                        </p>
                        <p>
                          <span class="has-text-grey">PID</span>
                          &nbsp;
                          <span class="has-text-dark">
                            <%= t.container.ContainerStatus.PID %>
                          </span>
                        </p>
                      </div>
                    </article>
                  </div>
                </div>
                <% }) %>
              </div>
            </div>
            </br>
            <% }) %>
          </div>

          <% if (!swarmInfo.find(s => s.name === 'log-collector')) { %>
          <a href="/creds">
            <button class="button is-success">Create log collector service</button>
          </a>
          <% } %>
        </div>
      </div>

    </section>
  <% } %>
  </main>
</body>

</html>
